<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Shack Up</title>
    <meta name="description" content="Get with your new home" />
    <link rel="canonical" href="http://gopperman.github.io/realestatetinder" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <ul class="nav">
        <li class="nav-menu nav-button"><i class="fa fa-bars"></i>
        <li class="nav-logo active"><img src="img/ShackUp_Logo.png" alt="Shack Up" />
        <li class="nav-list nav-button"><i class="fa fa-commenting"></i>
      </ul>
      <div class="filters">
        <form class="filters-container filters__form">

          <div class="filters__sale-type">
            <div data-type="sales" class="filter--active filters__sale-type-button">for sale</div>
            <div data-type="rentals" class="filters__sale-type-button">for rent</div>
          </div>

          <div class="filters__item">
            <div class="filters__header">Max Distance</div>
            <div class="filters__range-label">50mi.</div>
            <input type="range" class="filters__distance" name="distance" min="0" max="50">
          </div>

          <div class="filters__item">
            <div class="filters__header">Price Range</div>
            <div class="filters__options">
              <select name="min-price" class="filters__price">
                <option value="any" selected>Min Price</option>
                <option value="500">$500</option>
                <option value="1000">$1,000</option>
                <option value="2000">$2,000</option>
                <option value="5000">$5,000</option>
                <option value="10000">$10,000</option>
                <option value="100000">$100,000</option>
                <option value="200000">$200,000</option>
                <option value="300000">$300,000</option>
                <option value="400000">$400,000</option>
                <option value="500000">$500,000</option>
                <option value="1000000">$1,000,000</option>
              </select>
              <select name="max-price" class="filters__price">
                <option value="any" selected>Max Price</option>
                <option value="500">$500</option>
                <option value="1000">$1,000</option>
                <option value="2000">$2,000</option>
                <option value="5000">$5,000</option>
                <option value="10000">$10,000</option>
                <option value="100000">$100,000</option>
                <option value="200000">$200,000</option>
                <option value="300000">$300,000</option>
                <option value="400000">$400,000</option>
                <option value="500000">$500,000</option>
                <option value="1000000">$1,000,000</option>
              </select>
            </div>
          </div>

          <div class="filters__item">
            <div class="filters__header">Property Type</div>
            <div class="filters__options prop-type-options">
              <div class="filters__filter-option">Single Family</div>
              <div class="filters__filter-option">Land</div>
              <div class="filters__filter-option">Commercial</div>
              <div class="filters__filter-option">Farm/Ranch</div>
              <div class="filters__filter-option">Condo/Townhouse</div>
              <div class="filters__filter-option">Multi-family</div>
              <div class="filters__filter-option">Apartment</div>
              <div class="filters__filter-option">Mobile/Manufactured</div>
              <div class="filters__filter-option">Vacation</div>
            </div>
          </div>

          <div class="filters__item">
            <div class="filters__header">Beds</div>
            <ul class="filters__option-bar filters__options bed-options">
              <li class="filters__filter-option">0+</li>
              <li class="filters__filter-option">1+</li>
              <li class="filters__filter-option">2+</li>
              <li class="filters__filter-option">3+</li>
              <li class="filters__filter-option">4+</li>
              <li class="filters__filter-option">5+</li>
            </ul>
            <div class="filters__header">Baths</div>
            <ul class="filters__option-bar filters__options bath-options">
              <li class="filters__filter-option">0+</li>
              <li class="filters__filter-option">1+</li>
              <li class="filters__filter-option">2+</li>
              <li class="filters__filter-option">3+</li>
              <li class="filters__filter-option">4+</li>
              <li class="filters__filter-option">5+</li>
            </ul>
          </div>
        </form>
      </div>

      <div class="error__outOfListings">
        <p><i class="fa fa-check"></i></p>
        <p>Looks like you've already seen everything!</p>
        <p><a class="refreshListings">Give a home a second chance</a></p>
      </div>

      <!-- BEGIN: Underscore Template Definition. -->
      <script type="text/template" class="template2">

      <% _.each( data, function( listItem ){ %>
        <div class="listing" data-id="<%- listItem.id %>">
          <div class="listing__nav">
            <div data-type="contact" class="listing__nav-button--active listing__nav-button">contact</div>
            <div data-type="about" class="listing__nav-button">about</div>
          </div>
          <div class="listing__gallery stopped">
            <ul>
              <% _.each( listItem.photos, function( photo ){ %>
                <li><img draggable="false" src="<%- photo.replace(/&amp;/g, '&') %>&H=1000"></li>
              <% }); %>
            </ul>
            <div class="listing__details listing__details--contact">

              <p class="listing__sale-status"><%- (listItem.channel === 'Sales') ? 'For Sale' : 'For Rent' %></p>
              <p class="listing__price"><%- listItem.price.Price %></p>

              <div class="listing__details-lower">
                <p class="listing__location listing__location--full">
                <%- listItem.address.AddrDisplay %> • <%- listItem.address.AddrNeighborhood + ', ' + listItem.address.AddrStateAbbr %></p>
              </div>
            </div>
          </div>

          <div class="listing__details-wrap">
            <div class="listing__details">

              <p class="listing__sale-status"><%- (listItem.channel === 'Sales') ? 'For Sale' : 'For Rent' %></p>
              <p class="listing__price">$<%- parseInt(listItem.price.Price).formatMoney(0) %></p>

              <div class="listing__details-lower">
                <p class="listing__location listing__location--short"><%- listItem.propertyType[0] %></p>
                <p class="listing__location listing__location--full"><%- listItem.address.AddrDisplay %> • <%- listItem.address.AddrNeighborhood + ', ' + listItem.address.AddrStateAbbr %></p>
              </div>
            </div>

            <div class="listing__details-bar">
              <ul class="listing__details-bar-items">
                <li><i class="fa fa-map-marker"></i> 3 miles away</li>
                <li><i class="fa fa-home"></i> <%- listItem.propertyType[0] %></li>
                <li><i class="fa fa-star"></i> <%- listItem.description.Bedroom %> beds • <%- listItem.description.BathsFull %> baths</li>
              </ul>
            </div>

            <div class="listing__buttons-container">
              <div class="listing__like-button"><i class="fa fa-heart listing__button-icon"></i></div>
              <div class="listing__pass-button"><i class="fa fa-times listing__button-icon"></i></div>
            </div>

            <p class="listing__description"><%- listItem.description.CommentsLong %></p>
          </div>
          
          <div class="listing__contact">
            <div class="listing__agent-image-wrap">
              <img class="listing__agent-image" src="<%- listItem.agents[0].photo.replace(/&amp;/g, '&') %>" alt="">
            </div>
            <p class="listing__agent-name"><%- listItem.agents[0].name %></p>
            <div class="listing__agency"><%- listItem.contact.AdvertiserName %></div>
            <ul class="listing__agent-contacts">
              <li class="listing__agent-contact"><a href="mailto:<%- listItem.agents[0].email %>"><i class="fa fa-envelope listing__envelope-icon"></i></a></li>
              <li class="listing__agent-contact"><a href="<%- listItem.agents[0].address %>"><i class="fa fa-globe listing__globe-icon"></i></a></li>
              <li class="listing__agent-contact"><a href="tel:<%- listItem.agents[0].phones[0] %>"><i class="fa fa-mobile listing__phone-icon"></i></a></li>
            </ul>
          </div>
        </div>
      <% }); %>
      </script>

      <div class="saved">
        
        <ul class="saved__list">
        <!-- BEGIN: Underscore Template Definition. -->
          <script type="text/template" class="template">
          <% _.each( data, function( listItem ){ %>
            <li class="saved__item">
              <a href="http://realestate.boston.com/listings/<%- listItem.id %>" target="_blank">
                <div class="saved__img-wrap">
                  <img src="<%- listItem.photos[0].replace(/&amp;/g, '&') %>" alt="" class="saved__img">
                </div>
                <p class="saved__price">
                  <%- ( listItem.price.Price.toString().length > 6 ) ?
      '$' + listItem.price.Price/1000000 + 'm' : '$' + listItem.price.Price/1000 + 'k' %>
                </p>
                <p class="saved__location">
                  <%- listItem.address.AddrNeighborhood %>
                </p>
              </a>
            </li>
          <% }); %>
        </ul>
        </script>
        <div class="saved__filters">
          <div data-type="sale" class="saved__filter--active saved__filter">for sale</div>
          <div data-type="rent" class="saved__filter">for rent</div>
        </div>
      </div>
      <div class="overlay"></div>
    </div>

  	<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="sample-data/listings.js"></script>
  	<script src="scripts/main.min.js"></script>
  </body>
</html>