<div class="house-container">
	<div class="house__image--wrap">
		<img src="http://boston-services-beta.gabriels.net/Images/v1.0/LocalImageReader.ashx?IDClient=268&IDListing=268-l-4895-71973209&Option=N&ImageURL=http%3a%2f%2fcdn.cbhomes.com%2fs3%2fmediasvc-prd%2fproperties%2fD6aE2532A5fb465-71973209.jpg&BypassGlobalProxy=false&H=432" alt="" class="house__image">
	</div>

	<div class="house__details--short">
		<p class="house__city">Somerville</p>
		<p class="house__price">$500,000</p>
	</div>

	<div class="house__buttons-container">
		<div class="house__like-button"></div>
		<div class="house__pass-button"></div>
		<div class="house__back-button"></div>
	</div>
</div>