$module: 'listing';

.#{$module} {

	&__contact {
		display: none;
		padding: 20px 10px 30px;
		text-align: center;
	}

	&__agent-image {
		width: 100%;

		&-wrap {
			width: 80px;
			height: 80px;
			margin: 0 auto;
			overflow: hidden;
			border-radius: 50%;
		}
	}

	&__agent-name {
		margin: 0;
		font-size: 20px;
		color: $black;
	}

	&__agency {
		margin: 0 0 15px;
		font-size: 16px;
		color: $gray-dark;
	}

	&__agent-contacts {
		display:inline-block;
		padding: 0;
		list-style-type: none;
		width: auto;

		li {
			display: inline-block;
			float: left;
			font-size: 26px;
			margin: 0 10px;

			a {
				color: $white;
			}

			i {
				padding: 10px;
				background: #CF6428;
				border-radius: 50%;
				cursor: pointer;
			}
		}
	}

	&__globe-icon {
		width: 46px;
    height: 46px;
	}

	&__phone-icon {
    width: 46px;
    height: 46px;
    font-size: 40px !important;
    padding-top: 4px !important;
	}
}