$module: 'error';

.#{$module} {
	&__outOfListings {
		color: $gray-dark;
		margin: 0 5%;
		text-align: center;
		position: absolute;
		top: 100px;
		width: 90%;

		.fa {
			font-size: 10em;
			color: $orange;
		}

		a {
			color: $gray-dark;
			font-size: .8em;
			cursor: hand;
			cursor: pointer;
			text-decoration: underline;
			transition: all, .2s;

			&:hover {
				color: lighten( $gray-dark, 10% );
			}
		}

		p {
			margin: 0;

			&:nth-child(2) {
				border-bottom: 1px solid $gray-light;
				font-size: 1.6em;
				color: $purple;
				margin-bottom: .5em;
				padding-bottom: .5em;
			}
		}
	}
}