$module: 'error';

.#{$module} {
	&__emptySavedList, &__outOfListings {
		color: $gray-dark;
		margin: 0 5%;
		text-align: center;
		position: absolute;
		top: 100px;
		width: 90%;
		background: white;

		.fa {
			font-size: 10em;
			color: $orange;
		}

		.fa-refresh {
			font-size: 9em;
			padding: 10px;
		}
	}

	&__no-results {
		display: none;
		bottom: 0;
	}

	&__outOfListings {

		@-webkit-keyframes rotating {
		    from {
		        -webkit-transform: rotate(0deg);
		    }
		    to {
		        -webkit-transform: rotate(360deg);
		    }
		}

		.rotating {
		    -webkit-animation: rotating 2s linear infinite;
		}

		a {
			color: $gray-dark;
			font-size: .8em;
			cursor: hand;
			cursor: pointer;
			text-decoration: underline;
			transition: all, .2s;

			&:hover {
				color: lighten( $gray-dark, 10% );
			}
		}

		p {
			margin: 0;

			&:nth-child(2) {
				border-bottom: 1px solid $gray-light;
				font-size: 1.6em;
				color: $purple;
				margin-bottom: .5em;
				padding-bottom: .5em;
			}
		}
	}
}