$module: 'listing';

.#{$module} {
	background: $white;
	top: $nav-offset + 10px; 
	left: 2.5%;		
	position: absolute;
	width: 95%;
	margin: 0 auto;
	bottom: initial;
	height: auto;
	border-radius: 8px;
	border: 2px solid $gray-light;
	overflow: hidden;

	&__nav {
		display: none;
	}

	&__close {
		cursor: hand;
		cursor: pointer;
		display: inline-block;
		float: left;
		margin-right: 20px;

		&-arrow {
			color: $gray-light;
			font-size: 30px;
			position: relative;
			top: -13px;
		}
		
		&-thumbnail {
			border-radius: 50px;
			height: 50px;
			width: 50px;
		}
	}
 	&__details-wrap {
 		position: relative;
 		background: $white;
 	}

 	&__details {
		width: calc( 100% - 80px );
		padding: 15px;
 	}

	&__details--contact {
		display: none;
	}

 	&__sale-status {
 		display: none;
 		text-transform: uppercase;
 		font-size: 11px;
 		margin: 0;
 		color: $orange;
 	}

 	&__price {
 		margin: 0;
		padding: 0 0 5px 0;
 		font-size: 30px;
 		font-weight: 600;
 		color: $purple;
 		letter-spacing: 1px;
 		border-bottom: 1px solid $gray-light;

 	}

 	&__location {
 		margin: 0;
 		padding-bottom: 2px;
 		font-size: 12px;
 		color: $gray-dark;
 		text-transform: uppercase;

 		&--short {
 			margin-top: 5px;
 		}

 		&--full {
 			display: none;
 		}
 	}

 	&__buttons-container {
 		position: absolute;
	    bottom: 8px;
	    right: 10px;
 	}

 	&__like-button {
 		width: 70px;
 		height: 70px;
	    padding: 9px;
	    margin-bottom: 10px;
	    cursor: pointer;

		border-radius: 50%;
		background-color: $orange;
	    font-size: 45px !important;
	    border: 3px solid white;

    i {
			top: -6px;
			color: white;
		}
	}

	&__pass-button {
		width: 50px;
		height: 50px;
		margin-left: 10px;
    	padding: 10px;
    	cursor: pointer;

		border-radius: 50%;
		background-color: #A0A09F;
		font-size: 35px !important;
		
		i {
			top: -10px;
    	left: 1px;
			color: white;
		}
 	}

	&__button-icon {
		position: relative;
	}
	&__description,
	&__details-bar {
		display: none;
	}

	&__description {
		font-size: 12px;
		margin-right: 80px;
	}
}

/**
 *	---------------------
 *	SAVED LISTING STYLES
 *	---------------------
 */
.#{$module}--saved {
	z-index: $space;

	.#{$module} {
		&__nav-container {
			display: block;
			max-width: 768px;
			position: relative;
			margin: 0 auto;
			padding: 4px 10px;
		}

		&__nav {
			background: $purple;
			box-sizing: border-box;
			display: block;
			height: $nav-offset;
			overflow: hidden;
			z-index: $space;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;

			&-info {
				color: $gray-dark;
				display: inline-block;
				float: left;
				height: 55px;
				position: relative;
				width: 75%;
			}

			&-address {
				font-size: .9em; // Needs to be just a tad smaller than our defaults
				position: absolute;
				top: 4px;
			}

			&-links {
				position: absolute;
				bottom: 0;
			}
			&-button {
				text-transform: uppercase;
				color: $white;
				cursor: hand;
				cursor: pointer;
				margin: 0 20px 0 0;
				position: relative;
				bottom: 4px;

				&--active {
					border-bottom: 4px solid $orange;
				}
			}
		}
	}
}

/**
 *	---------------------
 *	DETAILED VIEW STYLES
 *	---------------------
 */
.#{$module}--detailed, .#{$module}--saved {
	border: 0;
	border-radius: 0;
	height: 100vh;
	left: 0;
	top: 0;
	margin: 0;
	width: 100%;
	
	.#{$module} {
		&__viewport {
			position: absolute;
			bottom: 0;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			padding: $nav-offset 0 20px 0;
			z-index: $middle;
		}
	}
}

.#{$module}--detailed {
	overflow-y: scroll;
	overflow-x: hidden;

	.listing__gallery {
		height: auto;
	}
	
	.#{$module} {
		&__buttons-container {
			position: fixed;
			
		}
		&__sale-status {
			display: block;
		}

		&__location{
			&--full { display: block; }
			&--short { display: none; }
		}

		&__details {
			width: 100%;
			padding: 15px 0;
			margin-bottom: 10px;
			border-bottom: 1px solid $gray-light;

			&-wrap {
				padding: 0 15px 15px;
			}
		}

		&__price {
 			border-bottom: none;
		}

		&__description {
			display: block;
		}

		&__details-bar {
			display: block;
			overflow: auto;
			margin-bottom: 5px;
			padding: 0 0 10px 0;
			border-bottom: 1px solid $gray-light;

			&-items {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					width: 33%;
					float: left;
					font-size: 12px;

					i {
						color: $orange;
					}
				}
			}
		}
	}
}

/**
 *	---------------------
 *	CONTACT VIEW STYLES
 *	---------------------
 */
.#{$module}--contact {

	.#{$module} {

		&__contact {
			display: block;
			position: absolute;
			bottom: 0;
			top: $nav-offset;
			width: 100%;
		}

		&__nav {
			display: block;
			position: fixed;
			z-index: $space;
			top: 0;
			left: 0;
			right: 0;
			max-width: 768px;
			margin: 0 auto;
		}

		&__location--full {
			display: block;
		}

		&__price {
			border-bottom: none;
			font-weight: 500;
		}

		&__sale-status {
			display: block;
		}

		&__details-wrap, &__gallery {
			display: none;
		}

		&__details--contact {
			background-color: $purple;
			display: block;
			width: 100%;

			p {
				color: white;
			}
		}
	}
}