$module: 'nav';

.#{$module} {
	color: $white;
	font-size: $font-lg;
	left: 0;
	list-style-type: none;
	margin: 0;
	position: fixed;
	text-align: center;
	right: 0;
	top: 0;
	z-index: $high;

	&__container {
		background: $purple;
		display: block;
		margin: 0 auto;
		max-width: 768px;
		min-height: $nav-offset - 1;
		padding: 0px 20px;
		position: relative;
		width: 100%;
	}

	li {
		display: inline-block;
		padding: 10px 15px;

		&:hover {
			cursor: hand;
			cursor: pointer;
		}
		
		&.active {
			border-bottom: 4px solid $orange;
			padding-bottom: 9px;
			transition: all, .1s
		}
	}

	&-button {
	}

	&-menu {
		position: absolute;
		left: 0;
		top: 0;
	}

	& .nav-logo {
		padding-bottom: 0;
		img { 
			height: 37px;
			width: auto; 
		}
		&.active {
			padding-bottom: 0;
		}
	}

	&-list {
		position: absolute;
		right: 0;
		top: 0;
		&.active {
			padding-bottom: 9px;
		}
	}
}