$module: 'nav';

.#{$module} {
	background: $purple;
	color: $white;
	font-size: $font-lg;
	left: 0;
	list-style-type: none;
	margin: 0;
	padding: 10px 20px;
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;

	li {
		display: inline-block;
	}

	&-button {
		padding: 10px 15px;
		
		&:hover {
			cursor: hand;
			cursor: pointer;
		}

		&.active {
			padding-bottom: 6px;
			border-bottom: 4px solid $orange;
			transition: all, .1s
		}
	}
	&-menu {
		position: absolute;
		left: 0;
		top: 0;
	}
	&-list {
		position: absolute;
		right: 0;
		top: 0;
	}
}