/** Fonts **/
/** Colors **/
/** Z-indexes **/
/** Spacing **/
/** Mixins **/
/** Menu **/
.filters {
  background: #fff;
  padding: 20px;
  bottom: 0;
  left: -100%;
  position: absolute;
  top: 59px;
  transition: all, .2s;
  width: 80%;
  z-index: 99;
  font-size: 14px;
  /**
   * Cross Browser Styles for Input Range
   */
  /*hide the outline behind the border*/
}
.filters-open {
  left: 0;
}
.filters__sale-type {
  position: relative;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  max-width: 768px;
  margin: 0 auto 10px;
}
.filters__sale-type-button {
  float: left;
  width: 50%;
  text-align: center;
  background-color: #e5e5e5;
  color: #A0A09F;
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.filters__item {
  margin-bottom: 10px;
  padding-bottom: 20px;
  clear: both;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid #e5e5e5;
}
.filters__options {
  clear: both;
}
.filters__header {
  float: left;
  clear: both;
  margin: 0;
  text-transform: uppercase;
  color: #A0A09F;
  margin-bottom: 10px;
}
.filters__location {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #A0A09F;
}
.filters__distance {
  width: 100%;
}
.filters__list {
  margin: 0;
}
.filters__range-label {
  float: right;
  color: #A0A09F;
}
.filters__price {
  width: 49%;
  float: left;
}
.filters__price:first-child {
  margin-right: 1%;
}
.filters__filter-option {
  border: 1px solid #e5e5e5;
  display: inline-block;
  margin: 0 3px 6px 0;
  padding: 5px 10px;
  cursor: pointer;
}
.filters__option-bar {
  overflow: auto;
  margin: 0 0 5px;
  padding: 0;
  list-style-type: none;
}
.filters__option-bar li {
  border: 1px solid #e5e5e5;
  text-align: center;
  float: left;
  margin: 0;
  width: 16.5%;
  background-color: lightgrey;
}
.filters__option-bar li:not(:last-child) {
  border-right: none;
}
.filters input[type=range] {
  -webkit-appearance: none;
}
.filters input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #e5e5e5;
  border: none;
  border-radius: 3px;
}
.filters input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid #CF6428;
  background: #fff;
  margin-top: -4px;
}
.filters input[type=range]:focus {
  outline: none;
}
.filters input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e5e5e5;
}
.filters input[type=range]::-moz-range-track {
  height: 5px;
  background: #fff;
  border: none;
  border-radius: 3px;
}
.filters input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid #CF6428;
  background: #fff;
}
.filters input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}
.filters input[type=range]::-ms-track {
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
}
.filters input[type=range]::-ms-fill-lower {
  background: #CF6428;
  border-radius: 10px;
}
.filters input[type=range]::-ms-fill-upper {
  background: #fff;
  border-radius: 10px;
}
.filters input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #CF6428;
}
.filters input[type=range]:focus::-ms-fill-lower {
  background: #CF6428;
}
.filters input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}

/** Navigation **/
.nav {
  background: #2F225F;
  color: #fff;
  font-size: 1.6em;
  left: 0;
  list-style-type: none;
  margin: 0;
  min-height: 58px;
  padding: 0px 20px;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
}
.nav li {
  display: inline-block;
  padding: 10px 15px;
}
.nav li:hover {
  cursor: hand;
  cursor: pointer;
}
.nav li.active {
  border-bottom: 4px solid #CF6428;
  transition: all, 0.1s;
}
.nav-menu {
  position: absolute;
  left: 0;
  top: 0;
}
.nav .nav-logo {
  padding-bottom: 0;
}
.nav .nav-logo img {
  height: 37px;
  width: auto;
}
.nav .nav-logo.active {
  padding-bottom: 0;
}
.nav-list {
  position: absolute;
  right: 0;
  top: 0;
}
.nav-list.active {
  padding-bottom: 9px;
}

/** Listing **/
.listing {
  background: #fff;
  top: 69px;
  left: 2.5%;
  position: absolute;
  width: 95%;
  margin: 0 auto;
  bottom: initial;
  height: auto;
  border-radius: 8px;
  border: 2px solid #e5e5e5;
  overflow: hidden;
}
.listing__details-wrap {
  position: relative;
}
.listing__details {
  width: calc( 100% - 80px );
  padding: 15px;
}
.listing__details--contact {
  display: none;
}
.listing__sale-status {
  display: none;
  text-transform: uppercase;
  font-size: 11px;
  margin: 0;
  color: #CF6428;
}
.listing__price {
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 30px;
  font-weight: 600;
  color: #2F225F;
  letter-spacing: 1px;
  border-bottom: 1px solid #e5e5e5;
}
.listing__location {
  margin: 0;
  padding-bottom: 2px;
  font-size: 12px;
  color: #A0A09F;
  text-transform: uppercase;
}
.listing__location--short {
  margin-top: 5px;
}
.listing__location--full {
  display: none;
}
.listing__buttons-container {
  position: absolute;
  bottom: 8px;
  right: 10px;
}
.listing__like-button {
  width: 70px;
  height: 70px;
  padding: 9px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #CF6428;
  font-size: 45px !important;
  border: 3px solid white;
}
.listing__like-button i {
  top: -6px;
  color: white;
}
.listing__pass-button {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #A0A09F;
  font-size: 35px !important;
}
.listing__pass-button i {
  top: -10px;
  left: 1px;
  color: white;
}
.listing__button-icon {
  position: relative;
}
.listing__nav, .listing__description, .listing__details-bar {
  display: none;
}
.listing__description {
  font-size: 12px;
  margin-right: 66px;
}

/**
 *	---------------------
 *	DETAILED VIEW STYLES
 *	---------------------
 */
.listing--detailed {
  border: 0;
  height: calc(100vh - 55px);
  left: 0;
  margin: 0;
  padding-bottom: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 59px;
  width: 100%;
}
.listing--detailed .listing__gallery {
  height: auto;
}
.listing--detailed .listing__buttons-container {
  position: fixed;
}
.listing--detailed .listing__sale-status {
  display: block;
}
.listing--detailed .listing__location--full {
  display: block;
}
.listing--detailed .listing__location--short {
  display: none;
}
.listing--detailed .listing__details {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.listing--detailed .listing__details-wrap {
  padding: 0 15px;
}
.listing--detailed .listing__price {
  border-bottom: none;
}
.listing--detailed .listing__description {
  display: block;
}
.listing--detailed .listing__details-bar {
  display: block;
  overflow: auto;
  margin-bottom: 5px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #e5e5e5;
}
.listing--detailed .listing__details-bar-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.listing--detailed .listing__details-bar-items li {
  width: 33%;
  float: left;
  font-size: 12px;
}
.listing--detailed .listing__details-bar-items li i {
  color: #CF6428;
}

.listing--contact {
  border: 0;
  margin: 0;
  top: 59px;
  width: 100%;
}
.listing--contact .listing__contact {
  display: block;
}
.listing--contact .listing__nav {
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  max-width: 768px;
  margin: 0 auto;
}
.listing--contact .listing__nav-button {
  float: left;
  width: 50%;
  text-align: center;
  background-color: #e5e5e5;
  color: #A0A09F;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.listing--contact .listing__nav-button--active {
  background-color: #CF6428;
  color: white;
}
.listing--contact .listing__location--full {
  display: block;
}
.listing--contact .listing__price {
  border-bottom: none;
  font-weight: 500;
}
.listing--contact .listing__sale-status {
  display: block;
}
.listing--contact .listing__details-wrap {
  display: none;
}
.listing--contact .listing__details--contact {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2F225F;
}
.listing--contact .listing__details--contact p {
  color: white;
}

.listing__gallery {
  position: relative;
  height: 75vw;
  max-height: 450px;
  overflow: hidden;
}
.listing__gallery img {
  width: 100%;
  height: 100%;
}
.listing__gallery ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.listing__gallery.stopped {
  width: 500%;
}
.listing__gallery.stopped li {
  float: left;
  width: 20%;
}

/** Unslider default CSS **/
.unslider {
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.unslider-wrap {
  position: relative;
}

.unslider-wrap.unslider-carousel > li {
  float: left;
}

.unslider-vertical > ul {
  height: 100%;
}

.unslider-vertical li {
  float: none;
  width: 100%;
}

.unslider-fade {
  position: relative;
}

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8;
}

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10;
}

.unslider li, .unslider ol, .unslider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer;
}

.unslider-arrow.next {
  left: auto;
  right: 20px;
}

.unslider-nav {
  position: absolute;
  bottom: 15px;
  width: 100%;
  z-index: 75;
}

.unslider-nav ol {
  list-style: none;
  text-align: center;
}

.unslider-nav ol li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}

.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}

/** Saved Listings List **/
.saved {
  background: #fff;
  bottom: 0;
  right: -100%;
  position: absolute;
  top: 59px;
  padding: 15px 15px 40px;
  transition: all, .2s;
  width: 100%;
  z-index: 75;
  overflow-y: scroll;
}
.saved-open {
  right: 0;
}
.saved__list {
  margin: 0;
  height: 100%;
  padding: 0;
}
.saved__item {
  width: 33%;
  float: left;
  margin-bottom: 30px;
  cursor: pointer;
}
.saved__item a:link, .saved__item a:visited, .saved__item a:active, .saved__item a:hover {
  text-decoration: none;
}
.saved__price {
  margin: 0;
  text-align: center;
  font-size: 16px;
  color: #2F225F;
}
.saved__location {
  margin: 0;
  text-align: center;
  font-size: 12px;
  color: #A0A09F;
}
.saved__img {
  position: relative;
  width: 140%;
  top: -21px;
}
.saved__img-wrap {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 5px;
}
.saved__filters {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 768px;
  margin: 0 auto;
}
.saved__filter {
  float: left;
  width: 50%;
  text-align: center;
  background-color: #e5e5e5;
  color: #A0A09F;
  padding: 15px;
  text-transform: uppercase;
}
.saved__filter--active {
  background-color: #CF6428;
  color: white;
}

/**
 *	---------------------
 *	Tablet styles
 *	---------------------
 */
@media (min-width: 768px) {
  .saved__item {
    width: 25%;
  }
}
/** Contact Agent **/
.listing__contact {
  display: none;
  padding: 20px 10px 30px;
}
.listing__nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 768px;
  margin: 0 auto;
}
.listing__nav-button {
  float: left;
  width: 50%;
  text-align: center;
  background-color: #e5e5e5;
  color: #A0A09F;
  padding: 20px;
  text-transform: uppercase;
}
.listing__nav-button--active {
  background-color: #CF6428;
  color: white;
}
.listing__agent-image {
  width: 100%;
}
.listing__agent-image-wrap {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}
.listing__agent-name {
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: #221F1F;
}
.listing__agency {
  margin: 0 0 15px;
  text-align: center;
  font-size: 16px;
  color: #A0A09F;
}
.listing__agent-contacts {
  overflow: auto;
  width: 250px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.listing__agent-contacts li {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 26px;
}
.listing__agent-contacts li a {
  color: #fff;
}
.listing__agent-contacts li i {
  padding: 10px;
  background: #CF6428;
  border-radius: 50%;
  cursor: pointer;
}
.listing__globe-icon {
  width: 46px;
  height: 46px;
}
.listing__phone-icon {
  width: 46px;
  height: 46px;
  font-size: 40px !important;
  padding-top: 4px !important;
}

.error__outOfListings {
  color: #A0A09F;
  margin: 0 5%;
  text-align: center;
  position: absolute;
  top: 100px;
  width: 90%;
}
.error__outOfListings .fa {
  font-size: 10em;
  color: #CF6428;
}
.error__outOfListings a {
  color: #A0A09F;
  font-size: .8em;
  cursor: hand;
  cursor: pointer;
  text-decoration: underline;
  transition: all, .2s;
}
.error__outOfListings a:hover {
  color: #b9b9b9;
}
.error__outOfListings p {
  margin: 0;
}
.error__outOfListings p:nth-child(2) {
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.6em;
  color: #2F225F;
  margin-bottom: .5em;
  padding-bottom: .5em;
}

/** Layout **/
* {
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
  background: #221F1F;
  color: #221F1F;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow: hidden;
}

.container {
  background: #fff;
  margin: 0 auto;
  height: 100%;
  height: 100vh;
  max-width: 768px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.container.panel-open {
  overflow: hidden;
}
.container.panel-open .saved__filters {
  display: block;
}

.overlay {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 59px;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 75;
}

.filter--active {
  background-color: #CF6428 !important;
  color: #fff;
}
