/** Fonts **/
$font-xs: .6em;
$font-sm: .8em;
$font-md: 1em;
$font-lg: 1.6em;
$font-xl: 2.2em;
$font-xxl: 3.4em;

/** Colors **/
@import 'modules/colors';

/** Z-indexes **/
$bottom: 0;
$low: 25;
$middle: 50;
$high: 75;
$space: 99;

/** Spacing **/
$nav-offset: 59px;

/** Mixins **/
@import 'modules/mixins';

/** Menu **/
@import 'modules/menu';
@import 'modules/filters';

/** Navigation **/
@import 'modules/nav';

/** Listing **/
@import 'modules/listing';
@import 'modules/gallery';

/** Saved Listings List **/
@import 'modules/saved';

/** Contact Agent **/
@import 'modules/contact-agent';

/** Status messages **/
@import 'modules/error';
@import 'modules/notification';

/** Layout **/
* {
	box-sizing: border-box;
}

body {
	-ms-overflow-style: none;
	background: $black;
	color: $black;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	overflow: hidden;
}
.container {
	background: $white;
	margin: 0 auto;
	height: 100%;
	height: 100vh;
	max-width: 768px;
	overflow: hidden;
	position:relative;
	width: 100%;

	&.panel-open {
		overflow: hidden;
		.saved__filters {
			display: block;
		}
	}
}
.overlay {
	@include full-screen();
	background: $alpha-black;
	display:none;
	z-index: $high;
}

// default active state for filter buttons
.filter--active {
	background-color: $orange !important;
	color: $white;
}

@media (min-width: 768px) {

}