/** Fonts **/
$font-xs: .6em;
$font-sm: .8em;
$font-md: 1em;
$font-lg: 1.6em;
$font-xl: 2.2em;
$font-xxl: 3.4em;

/** Colors **/
@import 'modules/colors';

/** Z-indexes **/
$bottom: 0;
$low: 25;
$middle: 50;
$high: 75;
$space: 99;

/** Spacing **/
$nav-offset: 55px;

/** Mixins **/
@import 'modules/mixins';

/** Menu **/
@import 'modules/menu';

/** Navigation **/
@import 'modules/nav';

/** Listing **/
@import 'modules/listing';
@import 'modules/gallery';

/** List **/
@import 'modules/list';

/** Layout **/
* {
	box-sizing: border-box;
}

body {
	-ms-overflow-style: none;
	background: $black;
	color: $black;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	overflow: hidden;
}

.container {
	background: $white;
	margin: 0 auto;
	height: 100%;
	height: 100vh;
	max-width: 768px;
	overflow-x: hidden;
	overflow-y: scroll;
	position:relative;
	width: 100%;
}
.overlay {
	@include full-screen();
	background: $alpha-black;
	display:none;
	z-index: $high;
}

@media (min-width: 768px) {

}