/** Fonts **/
/** Colors **/
/** Z-indexes **/
/** Mixins **/
/** Layout **/
* {
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
  background: #222;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  overflow: hidden;
}
